<!doctype html>

<html lang="en">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<head>
  <meta charset="utf-8">
  <title>Purefun - Signup</title>
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <h5>Purefun - Signup</h5>
{% block content %}
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey"></small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}
</body>
</html>

<!-- CSS Starts Here -->
<style>

body{
  background-color:#303030;
}
h5{
  color:#d1d1d1;
}
p{
  color:#d1d1d1;
}

</style>

